  .paymentInvoiceBtnContainer {
    text-align: center;
  }
  
  .paymentInvoiceBtn {
    background-color: #1b88df;
    font-weight: 800;
    font-size: 28px;
    line-height: 34px;
    width: 539px;
    height: 72px;
    border-radius: 4px;
    color: #fff;
    margin-top: 264px;
  }
  